In [5]:
#formatted sring
name="chayan"
lastname="kanungo"
age=20
print(f"my name is {name} .lastname is {lastname} and my age is {age} ")

my name is chayan .lastname is kanungo and my age is 20

In [8]:
print("hell\no")

hell
o

In [20]:
# variables
a=10
b=25
c="chayan"
_b="kanungo"  
print(a,b,c,_b)

10 25 chayan kanungo

In [23]:
#RAM ADDRESS
x=20
y=20
print(id(x))
print(id(y))

140727731463152
140727731463152

In [24]:
#VARIABLE ASSIGNMENT
a=5
b=c=d=a
print(a,b,c,d)

5 5 5 5

In [27]:
#OPERATORS
x=5**2
print(x)

25

In [28]:
a=5
b=6
a==b

False

In [29]:
a=5
b=5
a==b

True

In [30]:
a=5
b=6
a>b

True

In [31]:
a=5
b=6
a<b

True

In [32]:
a=5
b=6

a>=b

False

In [39]:
a=5
a+=1
print(a)

6

In [40]:
a=5
a-=1
print(a)

4

In [41]:
#decimal to binary
a=4
z=bin(a)
print(z)

0b100

In [42]:
#decimal to octal
a=4
z=oct(a)
print(z)

0o4

In [44]:
#decimal to hexadecimal
a=4
z=hex(a)
print(z)

0x4

In [46]:
x="chayan"
"x" not in x

True

In [47]:
x="chayan"
"c" not in x

False

In [48]:
x=1
y=1
x==y

True

In [52]:
x=1
y=1
x is y

True

In [54]:
x=1
y=1.
x==y

True

In [55]:
x=1
y=1.0
x is y

False

In [56]:
2**-1

0.5